<% provide(:title, @article.title) %>
<div class="container">
    <div class="show-article clearfix">
        <h1>
            <span class="title">
                <%= @article.title %>
            </span>
        </h1>
        <span class="timestamp pull-right">
            Last updated <%= time_ago_in_words @article.updated_at %> ago.
        </span>
        <div class="extra-info">
            <span>
                类型: <%= @article.article_type == "self"?"原创":"翻译" %>
            </span>
            
            <span class="category">
                分类: <%= @article.category.title %>
        </span>
        <div>
           <% if @article.article_type == "self" %>
               <div>
                   作者: <%= @article.author %>
               </div>
           <% else %>
               <div>
                   译者: <%= @article.translator %>
               </div>
               <div>
                   原文作者: <%= @article.original_author %>
               </div>
               <div>
                   原文地址: <address><%= @article.original_url %> </address>
               </div>
           <% end %>
        </div>
            <div class="url">
                首发地址: <%= link_to  @article.source_url, @article.source_url %>
            </div>
        </div>    
        
        <div class="pull-right" >
            <label class="btn btn-info disabled" >
                 <%= @article.status %>
            </label>
            
            <% if current_user.present? %>
                <% unless @article.status == "已投稿" and !current_user.has_role? :admin%>
                    <%= link_to "删除", @article, method: :delete,
                        data: { confirm: "确定删除该文章？" } ,
                        class: "btn btn-danger"%>

                    <%= link_to "编辑", edit_article_path(@article),
                        class: "btn btn-primary"%>               
                    <% unless @article.status == "已投稿" %>
                    <%= link_to "投稿", push_article_path(@article), method: :patch,
                        data: { confirm: "确定投稿？"},
                        class: "btn btn-primary" %>
                <% end %>
                <% end %>
            <% end %>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6 left">
                <pre class="highlight markdown"> 
                    <code class="hljs">
                        <%= "MarkDown Preview\n\n"+@article.content %>
                    </code>
                </pre>
            </div>
            <div class="col-md-6 right content" >
                   <%= markdown @article.content %>
            </div>
        </div>
    </div>
</div>
